.hero-section {
    position: relative;
padding: 11rem 10rem 11rem 10rem;
z-index: 5;
border-bottom-right-radius: 70px;
background-image: url('../../../assets/images/bg-img-port4.jpg');
object-fit: contain;
background-position: top;
background-attachment: scroll;
font-family: 'Montserrat', sans-serif;
}

.hero-section::before {
  position: absolute;
        content: '';
        border-bottom-right-radius: 70px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
     
        background-image: linear-gradient( 115deg, rgba(5, 5, 5, 0.8), rgba(97, 0, 0, 0.7) ), url('../../../assets/images/bg-img-port4.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
   
}

.hero-section > a > img {
    position: absolute;
    filter: grayscale(100%);
    bottom: 0;
    right: 8rem;
    width: 35rem;
    transition: 0.5s;
    cursor: pointer;
}
.hero-section > a > img:hover {
    filter: grayscale(0%);
}
.hero-wrapper {
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 0.5rem;
    text-align: left;
}
.hero-wrapper > img {
    width: 20rem;
    color: white;
    filter:contrast(0.1);
}
.hero-wrapper > span {
    color: rgba(160, 22, 22);
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1.5rem;
}
.hero-wrapper > h1 > span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
.hero-wrapper > h1 {
   
font-weight: 400;
color: rgb(167, 167, 167);
font-family: 'Montserrat', sans-serif;
margin-bottom: 0.5rem;
letter-spacing: 0.5px;

}
.hero-wrapper > a > button {
    border-color:rgb(204, 13, 13);
width: 14rem;
height: 3rem;
background-color: transparent;
color: rgb(167, 167, 167);
border-radius: 5px;
transition: 0.3s;
font-family: 'Montserrat', sans-serif;
cursor: pointer;
font-size: 0.9rem;
font-weight: 600;
outline: none;
}
.hero-wrapper > a > button:hover {
background-color:rgb(204, 13, 13);
transform: scale(1.1);

}

@media only screen and (max-width: 1220px) {
    .hero-section > a > img {
       
        right: 0rem;
        width: 32rem;
        
    }
    }

@media only screen and (max-width: 1024px) {
    .hero-section > a > img {
        position: absolute;
        filter: grayscale(100%);
        bottom: 0;
        right: 0rem;
        width: 30rem;
        transition: 0.5s;
        cursor: pointer;
    }
    .hero-section {
        position: relative;
    padding: 11rem 10rem 11rem 2rem;
    }
    .hero-wrapper > img {
        width: 15rem;
        color: white;
    }
    .hero-wrapper > h1 {
        font-size: 1.6rem;
        width: 20rem;
   
    
    }
   
    .hero-wrapper > a > button {
        border-color:rgb(204, 13, 13);
    width: 12rem;
    height: 2.8rem; 
}
}
@media only screen and (max-width: 744px) {
    .hero-section > a > img {
        display: none;
    } 
   
    .hero-section {
        padding: 10rem 0 10rem 0;
        border-bottom-right-radius: 0;
        
    }
    .hero-section::before {
        border-bottom-right-radius: 0;
    }
    .hero-wrapper {
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 0.5rem;
        text-align: left;
        align-items: center;
    }
    .hero-wrapper > h1 {
        font-size: 2.5rem;
        text-align: center;
        width: 80%;
    }
    .hero-wrapper > img {
        width: 25rem;
        color: white;
    }
    .hero-wrapper > a > button {
        border-color:rgb(204, 13, 13);
    width: 14rem;
    height: 3rem; 
}
}

@media only screen and (max-width: 462px) { 
    .hero-wrapper > h1 {
        font-size: 1.6rem;
        text-align: center;
        width: 90%;
    }
    .hero-wrapper > img {
        width: 19rem;
        color: white;
    }
    .hero-wrapper > a > button {
        border-color:rgb(204, 13, 13);
    width: 12rem;
    height: 3rem; 
    }
}
    