.error {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.error > a {
    width: 5rem;
    cursor: pointer;
    
}
.error>a>button {
    width: 100%;
    cursor: pointer;
    
    
}